
@{
    Layout = null;
}

<section class="w3l-block py-5">
    <div class="container py-lg-5 py-md-4">
        <div class="row">
            <div class="col-lg-4 col-md-6 align-self">
                <h3>Kampanya</h3>
                <p class="mt-md-4 mt-3 mb-0">
                    Orta boy pizzalarda 1 alana 1 hediye kampanyamız tüm hızıyla devam etmektedir (Not: Kampanya Margarita (Orta Boy),Süperos (Orta Boy),Bol Malzemos (Orta Boy),Karışık (Orta Boy) pizzalarda geçerlidir.)
                </p>
                <a href="/Services/Index/" class="btn-style btn-primary btn mt-lg-5 mt-4"><span class="fa fa-shopping-cart mr-2"></span> İncele</a>
            </div>
            <div class="col-lg-4 col-md-6 align-self mt-md-0 mt-5">
                <h3>Fiyatları İndirdik</h3>
                <p class="mt-md-4 mt-3 mb-0">
                    Büyük boy pizzalarda 2 adet alımlarda 1lt Coca Cola Bedava.(Not: Kampanya tüm büyük boy pizzalar için geçerlidir.)

                </p>
                <a href="/Services/Index/" class="btn-style btn-primary btn mt-lg-5 mt-4"><span class="fa fa-shopping-cart mr-2"></span> İncele</a>
            </div>
            <div class="col-lg-4 mt-lg-0 mt-5">
                <img src="/pizzapan-starter/assets/images/a1.jpg" class="img-fluid radius-image" alt="image">
            </div>
        </div>
    </div>
</section>

