
@{
    Layout = null;
}


<!doctype html>
<html lang="en">

<head>
    @await Component.InvokeAsync("_HeadPartial")
</head>

<body>
    <!--header-->
    @await Component.InvokeAsync("_NavbarPartial")
    <!--/header-->
    <!-- Domain Modal -->
    @await Component.InvokeAsync("_ContactPartial")
    <!-- //Domain modal -->
    @await Component.InvokeAsync("_ServiceMenuPartial")
    <!-- //menu -->
    <!-- footers 20 -->
    @await Component.InvokeAsync("_FooterPartial")
    <!-- move top -->
    @await Component.InvokeAsync("_ScriptPartial")

</body>

</html>
