<section class="w3l-footers-20">
    <div class="footers20">
        <div class="container">
            <div class="footers20-content">
                <div class="d-grid grid-col-4 grids-content">
                    <div class="column">
                        <h4>Adres</h4>
                        <p class="contact-para3">Kızılay - ANKARA</p>
                        <a href="mailto:hello@w3layouts.com">
                            <p class="contact-mail mt-2">pizzapan@gmail.com</p>
                        </a>
                    </div>
                    <div class="column">
                        <h4>İletişim</h4>
                        <p>Bize aşağıda bulunan numaradan ulaşabilirsiniz</p>
                        <a href="tel:+1-2345-678-11">
                            <p class="contact-phone mt-2">+90-507-099-41-61</p>
                        </a>
                    </div>
                    <div class="column">
                        <h4>Çalışma Saatleri</h4>
                        <p>Pazartesi - Pazar</p>
                        <p class="mt-2">09:00 - 24:00 </p>
                    </div>
                    <div class="column">
                        <h4>Twitter</h4>
                        <a href="blog-single.html">
                            <p>
                                <span class="fa fa-twitter mr-2"></span>Twitter hesabımızı Takip edin
                            </p>
                        </a>
                        <p class="small mt-2"><span class="fa fa-clock-o"></span> 25 Mart 2020</p>
                    </div>
                </div>
                <div class="d-grid grid-col-3 grids-content1 bottom-border">
                    <div class="columns copyright-grid">
                        <p class="copy-footer-29">
                            © 2023 Pizza Pan. Tüm Hakları Saklıdır</a>
                        </p>
                    </div>                  
                </div>
            </div>
        </div>
    </div>
</section>