<section class="w3_stats py-5" id="stats">
    <div class="container py-lg-5 py-md-4">
        <div class="title-content text-center">
            <h3 class="title-big">İstatistiklerimiz</h3>
        </div>
        <div class="w3-stats">
            <div class="row">
                <div class="col-sm-4 col-4">
                    <div class="counter">
                        <span class="fa fa-smile-o"></span>
                        <div class="timer count-title count-number mt-3" data-to="2353" data-speed="1500"></div>
                        <p class="count-text ">Mutlu Müşteriler</p>
                    </div>
                </div>
                <div class="col-sm-4 col-4">
                    <div class="counter">
                        <span class="fa fa-users"></span>
                        <div class="timer count-title count-number mt-3" data-to="15" data-speed="1500"></div>
                        <p class="count-text ">Ürün Çeşidi</p>
                    </div>
                </div>
                <div class="col-sm-4 col-4">
                    <div class="counter">
                        <span class="fa fa-database"></span>
                        <div class="timer count-title count-number mt-3" data-to="103" data-speed="1500"></div>
                        <p class="count-text ">Şubelerimiz</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
