@model Pizzapan.EntityLayer.Concrete.Testimonial

@{
    ViewData["Title"] = "AddTestimonial";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Referans Ekleme Sayfası</h1>

<form method="post">
    <input type="hidden" asp-for="TestimonialID" class="form-control" style="color:black !important" />
    <label>Müşteri Adı</label>
    <input type="text" asp-for="CustomerName" class="form-control" style="color:black !important" />
    <br />
    <label>Ünvan</label>
    <input type="text" asp-for="CustomerTitle" class="form-control" style="color:black !important" />
    <label>Mesaj</label>
    <input type="text" asp-for="Comment" class="form-control" style="color:black !important" />
    <br />
    <br />
    <a href="/Testimonial/Index/" class="btn btn-info">Geri</a>
    <button type="submit" class="btn btn-success">Kaydet</button>
</form>
