@model Pizzapan.EntityLayer.Concrete.Product

@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Ürün Ekleme Sayfası</h1>


<form method="post">

    <label>Ürün Adı</label>
    <input asp-for="Name" class="form-control border" style="color:black !important" />
    <br />
    <label>Açıklama</label>
    <input asp-for="Description" class="form-control border" style="color:black !important" />
    <br />
    <label>Resim Yolu</label>
    <input asp-for="ImageUrl" class="form-control border" style="color:black !important" />
    <br />
    <label>Fiyat</label>
    <input asp-for="Price" class="form-control border" style="color:black !important" />
    <br />
    <label>CategoryID</label>
    <input asp-for="CategoryID" class="form-control border" style="color:black !important" />
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>

